<div bsModal #modal="bs-modal" class="modal fade" style="z-index: 99999" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" [ngClass]="className">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"  ></h4>
      </div>
      <div class="modal-body"  ></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()"><i class="fa fa-check"></i> 222</button>
        <button type="button" class="btn btn-default" (click)="cancel()"><i class="fa fa-remove"></i> 555</button>        
      </div>
    </div>
  </div>
</div>