body {
  min-height: 75rem;
 
}

 .img {
       border-radius: 50%;
    overflow: hidden;
    height:20px;
    width: 20px;
 }

  

 .logoStyle {
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    color: 	#20B2AA
 }