 
 <table class="table   table-bordered   "  >
  <thead>
    <tr class="tr-only-hide">
      <th>排行</th>
      <th>種類</th>
      <th>數量</th>
      <th>百分比</th>
      <th class="text-right">金額</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let O of dataLists  | filterTotal: filter | orderBy:'rank'" >
      <th data-th="#" scope="row" *ngIf="O.item != 'all'" class="rankCss"> No.{{ O.rank }} </th>
      <td data-th="種類" *ngIf="O.item != 'all'">{{ O.item }}</td>
      <td data-th="數量" *ngIf="O.item != 'all'">共 {{  O.count }} 筆 </td>
      <td data-th="百分比" style="width:45%" *ngIf="O.item != 'all'">
        <div class="progress" style="margin-bottom: 0px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="60"  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: total(O.price,O.total)  | percent:'1.0-1'  }">
            {{  total(O.price,O.total)  | percent:'1.0-1' }}
          </div>
        </div>
      </td>
      <td data-th="金額" class="text-right" *ngIf="O.item != 'all'"> $  {{   O.price | number:'1.0-1' }}</td>

      <td data-th="種類" *ngIf="O.item == 'all'" class="tdEnd" colspan="2">全部總和</td>
      <td data-th="數量" *ngIf="O.item == 'all'" class="tdEnd">共 {{  O.count }} 筆 </td>
      <td data-th="金額" class="text-right tdEnd" *ngIf="O.item == 'all'"  colspan="2">共 $  {{   O.price | number:'1.0-1' }}</td>
     
    </tr>
  
  </tbody>
</table>
